@page "/"

<h3>Форма расчета</h3>

<InputForm @ref="_inputForm" />

<VariantSelector OnVariantSelected="SetVariantValues" />

<button @onclick="Submit">Рассчитать</button>

@if (string.IsNullOrEmpty(_errorMessage) == false)
{
    <div style="color:red;">
        <p>@_errorMessage</p>
    </div>
}

@if (_resultsAvailable)
{
    <CascadingValue Value="Decimals">
        <ResultsDisplay CalculateData="_calculateData" CalculateResult="_calculateResult" />
    </CascadingValue>
}

<h3>Загруженные варианты</h3>
<VariantsTable />
