<div>
    <label>K<sub>11</sub>: </label>
    <input @bind="k11" type="number" />
</div>
<div>
    <label>K<sub>21</sub>: </label>
    <input @bind="k21" type="number" />
</div>
<div>
    <label>K<sub>31</sub>: </label>
    <input @bind="k31" type="number" />
</div>
<div>
    <label>K<sub>41</sub>: </label>
    <input @bind="k41" type="number" />
</div>
<div>
    <label>K<sub>51</sub>: </label>
    <input @bind="k51" type="number" />
</div>
<div>
    <label>T<sub>31</sub>: </label>
    <input @bind="T31" type="number" />
</div>
<div>
    <label>T<sub>41</sub>: </label>
    <input @bind="T41" type="number" />
</div>
